/* Import Google Font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 
 
#result {
    font-size: 24px;
    font-weight: bold;
    color: rgb(1, 2, 0);
}

#result2 {
    font-size: 24px;
    font-weight: bold;
    color: blueviolet;
}

#result3 {
    font-size: 24px;
    font-weight: bold;
    color: blue;
}


body {
    background-color: palegoldenrod;
}

.section {
    border-style: solid;
    border-color:  rgb(123, 123, 99);
    background-color: rgb(224, 224, 180);
    margin: 20px;
}